<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résultat de la prédiction</title>
</head>
<body>
    <h1>Résultat de la prédiction</h1>
    <p>{{ prediction }}</p>
    <a href="{{ url_for('home') }}"><button>Retour</button></a>


<p>
    Vie professionnelle, sorties, loisirs… <br>
    Toutes les affaires courantes sont facilitées si l’asthme est contrôlé.<br>
    Sans symptôme, la vie est plus sereine, sans avoir à craindre la survenue d’une crise d’asthme.<br>
    Les bénéfices sont nombreux et concrets : courir pour attraper le bus, accepter sans appréhension une balade à vélo, grimper des escaliers quatre à quatre, limiter ses absences au travail, profiter d’un sommeil réparateur, etc.
    Limiter si possible l’exposition aux facteurs favorisant les crises d'asthme.<br>
</p>
<p>Adapter son mode de vie.</p>
<p>Au quotidien, il est nécessaire d’adapter son mode de vie. Apprendre à gérer son stress et les situations riches en émotions qui peuvent déclencher des crises ; se décontracter en pratiquant une activité physique adaptée, se détendre en famille, avec des amis…</p>
<ul>
    <li>
        Pour les fumeurs : essayer d'arrêter de fumer car cela aggrave l’asthme.
    </li>
    <li>
        Ne pas s’exposer au tabagisme passif.
    </li>
    <li>
        Pour les personnes en surpoids, l’asthme peut être plus difficile à contrôler. Adapter des conseils nutritionnels pour une alimentation équilibrée.
    </li>
    <li>
        Pratiquer une activité physique est possible et bénéfique pour toutes personnes asthmatiques. Le choix de l’activité peut se faire avec son médecin traitant.
    </li>
    <li>
        En cas de grossesse, la poursuite du traitement de l’asthme et un suivi attentif sont nécessaires.
    </li>
    <li>
        L’asthme peut perturber la vie professionnelle. Il est important alors de s’entretenir avec son médecin traitant ou le médecin du travail sur son activité professionnelle.
    </li>
</ul>

</body>
</html>
